GEOSERVER_PROD_USER=replace-with-production-username
GEOSERVER_PROD_PASSWORD=replace-with-production-password
GEOSERVER_STAGING_USER=replace-with-staging-username
GEOSERVER_STAGING_PASSWORD=replace-with-staging-password
